/* footer{
    padding: 20px;
} */
/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%; */
    /* Set the fixed height of the footer here */
    /* height: 60px;
    line-height: 60px;
  } */
  footer {
    position: relative  ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40 !important;
    color: white;
    text-align: center;
  }