<div id="request" style="padding-right:100px;" style="padding-inline:100px;"  style="padding-top:50px;"  class="container">

    <!-- form header -->
    <!-- <div class="row" class="row justify-content-center" > -->
      <div class="col-3" class="col justify-content-center" id="nav">
        <h1 id="heading">PICK UP DETAILS</h1>
        <hr>
      </div>
    <!-- </div> -->
  
    <!-- main form -->
    <div class="row">
      <form action="" style="width:100%;">
        <div class="col">
  
          <!-- personal info -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="fnText">First Name :</label> Akansha
              </div>
              <!-- <div [hidden]="" class="alert alert-danger">
                Please enter your first name
                </div> -->
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lnText">Last Name :</label> Giriya
              </div>
            </div>

            <!-- <div class="col">
              <div class="form-group">
                <label for="lnText">Email ID</label>
                <input type="text" class="form-control" id="lnText" placeholder="Enter your mailId">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div>
            </div> -->
          </div>

          <!-- <div class="col"> -->
            <div class="form-group">
              <label for="lnText">Email ID :</label> akansha@gmail.com
            </div>
          <!-- </div>  -->

          <div class="form-group">
            <label for="addText">Age :</label> 22
          </div>
  
          <!-- address form portion -->
          <div class="row">
       
            <div class="col-12">
              <div class="form-group">
                <label for="addText">Language :</label> Hindi
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="phoneno">Phone no :</label> 7412369850
                  </div>
                </div>
                
                <div class="col">
                  <div class="form-group">
                    <label for="amountofplastic">Amount of plastic :</label> 
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- seperator -->
          <div class="row">
            <div class="col">
              <hr>
            </div>
          </div>
  
          <!-- final action buttons -->
          <div class="row justify-content-center">
            <div class="col-3" id="submit">
              <button (click)="home()" type="button" class="btn btn-primary btn-lg" style="width: 50px;">OK</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>