#request{
    width: 700px;
    height: 100px;
}

#submit{
    margin-left: 100px;
}
#heading{
    margin-left: 250px;
    color: white;
}

#nav{
    background-color: blueviolet;
    
}

#fnText{
    height: 35px;
}

#lnText{
    height: 35px;
}

#addText{
    height: 35px;
}


#city{
    height: 35px;
}


#inputState{
    height: 35px;
}

#zipcode{
    height: 35px;
}

#submit{
    height: 35px;
}

.form-control[_ngcontent-vld-c18] {
    display: block;
    width: 81%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    vertical-align: middle;
}