<div class="container">
    <h1 id="heading">Wallet</h1>
    <div id="style">
        <img src="assets/images/wallet2.jpg">
        
        <div id="wallet">
            <label><b>Wallet Id : </b></label> 524004
        </div>

        <div class="coins">
            <label><b>Coins : </b></label> 1000 &nbsp;&nbsp;&nbsp;
            <!-- <img src="assets/images/coins.png"> -->
            <div class=coinsImage>
                <img src="assets/images/coins.png">
            </div>
        </div>
    
    </div>  

</div>