<div  class="container">
<div class="panel panel-primary">
    <div class="col-3" class="panel-heading" class="col justify-content-center" id="nav">
        <h1 id="heading">Bio Waste Details:</h1>
        <hr>
      </div>
    <div class="panel-body"> 
        <table class="table table-striped">
                <thead>
                <tr>
                    <!-- <th>USer Id</th> -->
                    <th>Hospital Id</th>
                    <th>red Bag</th>
                    <th>Blue BAg</th>
                    <th>White Bag</th>
                    <th>Yellow Bag</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>Namish hospital</td>
                    <td>05</td>
                    <td>05</td>
                    <td>00</td>
                    <td>00</td>
                    <td>10</td>
                    <td>pending</td>
                </tr>
                <tr >
                    <td>amma hospital</td>
                    <td>03</td>
                    <td>00</td>
                    <td>05</td>
                    <td>03</td>
                    <td>11</td>
                    <td>aproved</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
</div>
