<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5tB3RmYyV1_SmIZ8n89EW1827lLa7khWE_7McD12NoUz3wK6Z&usqp=CAU" alt="Lalitha R">
        <h2>Lalitha R</h2>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Bio-Waste</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bio-dash/bio-add">
        <mat-icon>assignment</mat-icon> &nbsp;
        Add Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bio-dash/bio-view">
        <mat-icon>remove_red_eye</mat-icon> &nbsp;
        View Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bio-dash/bio-transport">
        <mat-icon> local_shipping</mat-icon> &nbsp;
        Transport Details</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>sync</mat-icon> &nbsp;
        Recycling Details</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile">
        <mat-icon>account_circle</mat-icon> &nbsp;
        Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon> &nbsp;
        Contacts
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/customer-dashboard">
        <mat-icon>home</mat-icon>
        Home</a> 
    
</mat-nav-list>




