<img src="assets\images\fff.jpg">
<div  class="col justify-content-center" id="nav" >
    <!-- <img src="assets\images\fff.jpg"> -->
    <head>
        <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        </style>
        <h1></h1>
        </head>
        <br>
        <h1><p>Welcome to the PEB Management....!!!</p>
            <p>One stop solution for all your 
                Bio Medical Plastic and E-waste...!!!</p></h1>
            <div>
        <a routerLink="/bio-dash/bio-add" style="margin-right: 30px;" class="btn btn-primary">Bio Waste</a>&nbsp;
    <a routerLink="/Plastic-Dash/request" style="margin-right: 30px;" class="btn btn-primary">Plastic Waste</a>&nbsp;
    <a routerLink="/Electronic-Dash" style="margin-right: 30px;" class="btn btn-primary">Electronic Waste</a>
    
        
    
    </div>
