
<div id="pickup" style="padding-right:100px;" style="padding-inline:100px;"  style="padding-top:50px;"  class="container">

    <!-- form header -->
    <!-- <div class="row" class="row justify-content-center" > -->
      <div class="col-1" class="col justify-content-center" id="nav">
        
       <hr>
         <h1 id="heading">Pickup Person Details</h1>
       <hr>
      </div>
    <!-- </div> -->
  
    <!-- main form -->
    <div class="row">
      <form action="" style="width:100%;">
        <div class="col">
  
          <!-- personal info -->
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="fnText">First Name</label>
                <input type="text" class="form-control" id="fnText" placeholder="Enter first name">
                <small id="fnHelp" class="form-text custom-invalid-feedback" >Field is required</small>
              </div>
            </div>
              <!-- <div [hidden]="" class="alert alert-danger">
                Please enter your first name
                </div> -->
            </div>
          
              <div class="form-group">
                <label for="lnText">Last Name</label>
                <input type="text" class="form-control" id="lnText" placeholder="Enter last name">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div>
          

         <!--   <div class="col">  -->
              <div class="form-group">
                <label for="lnText">Email ID</label>
                <input type="text" class="form-control" id="lnText" placeholder="Enter your mailId">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div>
         <!--  </div>  -->


       <!--  <div class="col"></div>  -->
              <div class="form-group">
                <label for="lnText">Age</label>
                <input type="text" class="form-control" id="lnText" placeholder="Enter pickup person Age">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div>
         <!--  </div>  -->

 	             
              <div class="form-group">
                <label for="lnText">Languages</label>
                <input type="text" class="form-control" id="lnText" placeholder="Enter pickup person known languages">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div>
              
              <div class="form-group">
                <label for="lnText">Phone No</label>
                <input type="text" class="form-control" id="lnText" placeholder="Enter pickup person Mobile Number">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div>
              
              <div class="form-group">
                <label for="fnText">Description</label>
                <input type="text" class="form-control" id="fnText" placeholder="Here is your Pickup person details">
                <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
              </div> 
        
    
         
              <div class="row justify-content-center">
                <div class="col-5" id="submit">
              <button (click)="pickUpShow()" type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>