<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS5tB3RmYyV1_SmIZ8n89EW1827lLa7khWE_7McD12NoUz3wK6Z&usqp=CAU" alt="Lalitha R">
        <h2>Subhash C</h2>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>E - Waste</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Electronic-Dash/SellByCategory">
        <mat-icon></mat-icon> &nbsp;
        SellByCategory </a> 
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon></mat-icon> &nbsp;
        ShopByCategory </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon> </mat-icon> &nbsp;
        Donate</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon></mat-icon> &nbsp;
        Your Product </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/Electronic-Dash/pickup">
            <mat-icon></mat-icon> &nbsp;
           Pickup</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
                <mat-icon></mat-icon> &nbsp;
                Your Orders  </a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
                    <mat-icon></mat-icon> &nbsp;
                    Support  </a>

    <mat-divider></mat-divider>

    
</mat-nav-list>




