<div  class="container">
    <div class="content-table">
        <div class="col-3" class="panel-heading" class="col justify-content-center" id="nav">
            <h1 id="heading">View Request</h1>
            <hr>
          </div>
        <div class="panel-body"> 
            <table class="table table-striped">
                    <thead>
                    <tr>
                        <!-- <th>USer Id</th> -->
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Amount of plastic</th>
                        <th>Description</th>   
                        <th>Street Address</th>
                        <th>City</th>
                        <th>State</th>  
                        <th>Pincode</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Debadutta Pradhan</td>
                      <td>debaduttapradhan95@gmail.com</td>
                      <td>10Kg</td>
                      <td>I have 10 Bottles and 2 hard plastic</td>
                      <td>Mana Recedency</td>
                      <td>Bangalore</td>
                      <td>karnataka</td>
                      <td>560103</td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
    </div>
    