<div class="container">
    <h2>Request Details</h2>
    <hr/>
    <!-- <div *ngIf="currentEmp"> -->
    <div  style="width: 400px;" class="panel-body">    
        <div style="overflow-x:auto;">
            <table>
              <tr>
                
                <td>Red Bag</td>
                <td>05</td>
                </tr>
                <tr>
                <td>Blue Bag</td>
                <td>05</td>
                </tr>
                <tr>
                <td>White Bag</td>
                <td>00</td>
                </tr>
                <tr>
                <td>Yellow Bag</td>
                <td>00</td>
               </tr>
            </table>
          </div>
          
    </div>
    <br>
    
    <button  (click)="bioPopup()"   mat-raised-button class="my-class" type="button" >
      Request Pick-Up</button>&nbsp;&nbsp;


    <button (click)="bioAdd()" mat-raised-button class="my-class" >
      <!-- <mat-icon>highlight_off</mat-icon> -->
      cancel</button>
      
    </div>
    