<div class="container">

    <!-- form header -->
    <!-- <div class="row" class="row justify-content-center" > -->
      <div class="col-3" class="col justify-content-center" id="nav">
        <h1 id="heading">Bio Transport Details:</h1>
        <hr>
      </div>
    <!-- </div> -->
    <!-- main form -->
    <div style="width: 400px;" class="container">
        <form action="" style="width:100%;">
          <div class="col">
            <!--Bag info -->
                <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fnText">Vehicle No: KA 41 BA 8192</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="fnText">Pick Up Location: Apollo (Whitefield)</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="fnText">Drop Location: Swatch Recycling Unit</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="fnText">Bag Details : 50</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                    </div>
                    <br>
                </div>
                </div>
            </div>
        </form>
    </div>
    <!-- final action buttons -->
    <div  class="row justify-content-center">
        <div class="col-3" id="submit" >
          <button mat-raised-button class="my-class" type="button" >Ok</button>
        
          
        &nbsp;&nbsp;&nbsp;
       
          <button type="button" mat-raised-button class="my-class">Cancel</button>
        </div>
    </div>
              <!-- <div [hidden]="" class="alert alert-danger">
                Please enter your first name
                </div> -->






